@charset "UTF-8";
/* CSS Document */

/* ################ FONT FACE ################# 

@font-face {
	font-family: "";
	src: url(../fonts/.ttf);
}

$variable = #FFFFFF; 

############################################ */

* {
	box-sizing:border-box;
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}
