
/* ################ MIXINS ################# */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin font-awesome {
	font-style: normal;
	font-weight: normal;
	font-family: "FontAwesome";
}

@mixin display-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

@mixin placeholder {

	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}

}

@mixin keyframes($name) {

	@-webkit-keyframes #{$name} {
		@content; 
	}

	@-moz-keyframes #{$name} {
		@content;
	}

  	@-ms-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}

}

@mixin animation ($name, $duration, $timing-function, $iteration) {

	-webkit-animation-name: $name;
	-webkit-animation-duration: $duration;
	-webkit-animation-timing-function: $timing-function;
	-webkit-animation-iteration-count: $iteration;
	
	-moz-animation-name: $name;
	-moz-animation-duration: $duration;
	-moz-animation-timing-function: $timing-function;
	-moz-animation-iteration-count: $iteration;

	-o-animation-name: $name;
	-o-animation-duration: $duration;
	-o-animation-timing-function: $timing-function;
	-o-animation-iteration-count: $iteration;

	animation-name: $name;
	animation-duration: $duration;
	animation-timing-function: $timing-function;
	animation-iteration-count: $iteration;

}