
// Styles for IE browser
// --------------------------------------------
// --------------------------------------------

@font-face {
	font-family: "";
	src: url("../fonts/font.eot");
	src: url("../fonts/font.eot?iefix") format("opentype"),
		 url("../fonts/font.woff") format("woff"),
		 url("../fonts/font.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}