@charset "UTF-8";
/* CSS Document */


@import "mixins";
@import "variables";

/* ################ FONT FACE ################# 

@font-face {
	font-family: "";
	src: url(../fonts/.ttf);
}


############################################ */


* {
	box-sizing:border-box;
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}
